@media (max-width:991.98px) {
  body, html {
    font-size: 12px!important;
  }
}

@media (max-width:991.98px) {
  body, html {
    font-size: 12px!important;
  }
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 12px!important;
  font-weight: 400;
  /*font-family: Poppins,Helvetica,sans-serif;*/
  font-family: Manrope, sans-serif !important;
  overflow-x: hidden;
  background: #F5F8FA;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width:1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1320px;
    background: #fff !important;
    padding: 24px;
    border-radius: 6px;
    border: 1px solid var(--grey-8, #ECF0F3);
    box-shadow: 0px 4px 8px 0px rgba(15, 86, 179, 0.18), 0px 2px 4px 0px rgba(15, 86, 179, 0.18);
    margin-top: 16px;
  }
}

@media (min-width:1200px) {
  .h4, h4 {
    font-size: 1.5rem;
    color: var(--grey-3, #464E5F) !important;
  }
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  color: var(--grey-3, #464E5F) !important;
}

tbody, td, tfoot, th, thead, tr {
  border-color: inherit;
  border-style: solid;
  /*background: var(--blue-light-50, #F0F9FF);*/
  border-width: 0;
}

.table > thead {
  vertical-align: bottom;
  background: var(--blue-light-50, #F0F9FF);
}

.table-responsive {
  overflow-x: auto;
  border-radius: 6px;
  border: 1px solid var(--grey-7, #E5EAEE);
  -webkit-overflow-scrolling: touch;
}

